<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div *ngIf='!authService.authenticated'>
    <h3>No user is logged in.</h3>
    <h3>If you are already registered, please login.</h3>
    <button (click) = "loginUser()">Login</button>
    <h3>If you new, please sign-in.</h3>
    <button (click) = "signUpUser()">Sign-up</button>
  </div>
  <p></p>
  <div *ngIf='authService.authenticated'>
    <h3>Welcome {{authService.currentUser.displayName}}</h3>
    <button (click) = "logoutUser()">Logout</button>
  </div>
</div>


