<div class='jumbotron'>
  <h3 class='text-center col-12'>
    Welcome to ShopList{{authService.currentUser?' '+authService.currentUser.displayName:''}}!
  </h3>
  <h4 class='text-center col-12'>The best Shopping List app on the web.</h4>
  <br>
  <div class='row justify-content-between' *ngIf='!authService.authenticated'>
    <button class='btn btn-success col-3 w-25' type='button' routerLink="/login">Sign In</button>
    <button class='btn btn-warning col-3 w-25' type='button' routerLink="/signup">Sign Up</button>
  </div>
</div>