<nav class='navbar navbar-expand-sm bg-warning navbar-light fixed-top d-flex'>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class='navbar-brand mr-auto' routerLink=''>{{title}}</a>
    <div class='collapse navbar-collapse' id='collapsibleNavbar'>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link">Link</a></li>
      </ul>
    </div>
    <div class='navbar-nav ml-auto mx-1 pt-1 align-items-center flow-row'>
      <img class='rounded-circle mx-2' style='height: 40px'
        *ngIf='authService.currentUser && authService.currentUser.photoURL' 
        src={{authService.currentUser.photoURL}} alt='User profile picture'>
      <div class='navbar-nav d-none d-md-block text-center px-1' *ngIf='authService.authenticated'>
        <div>
          {{authService.currentUser.displayName}}
        </div>
        <div class=''>
          <a class="nav-link" style='padding-top: 0; padding-bottom: 0' (click)='authService.logOut("")' href='#'>Log out</a>
        </div>
      </div>
      <ul class="navbar-nav flex-row" *ngIf='!authService.authenticated'>
        <li class="nav-item mx-1"><a class='nav-link' routerLink='login'>Sign In</a></li>
        <li class="nav-item mx-1"><a class='nav-link' routerLink='signup'>Sign Up</a></li>
      </ul>
    </div>
</nav>
