<div>
  <h2 class="text-center">Edit {{listType==="slist"?"Shopping":"Quick"}} List</h2>
  <div *ngIf='shoppingList'>
    <br>
    <form #SLForm='ngForm'>
      <div class='text-right text-sm'>Created: {{slService.formatDate(shoppingList.dateCreated)}}</div>
      <div class='form-group'>
        <div class="input-group input-group-lg">
          <label for="name">Name</label>
          <input type="text" required class='form-control'
          [(ngModel)]='shoppingList.name' #nameInput='ngModel' 
          [ngClass] = '{"border-danger": nameInput.invalid}' 
          placeholder='{{slService.formatDate(shoppingList.dateCreated)}}' name='name' id='name'>
        </div>
      </div>
    </form>
    <div class='d-flex justify-content-between'>
      <!-- <button class="btn btn-success" type='button' (click)='saveList()'>Save List</button> -->
      <button class="btn btn-danger" type='button' (click)='deleteList()'><i class='fas fa-trash-alt'></i> Delete List</button>
    </div>
    <br>
    <h4 class="">Items</h4>
    <button class="btn btn-success" type='button' (click)='addItem()'>
      <i class='fas fa-cart-plus'></i> Add item
    </button>
    <h5 *ngIf='!shoppingList.itemsList || (shoppingList.itemsList && shoppingList.itemsList.length === 0)'>No items added yet</h5>
    <div *ngIf='shoppingList.itemsList' class="list-group">
      <div class='list-group-item list-group-item-action py-1' 
      *ngFor='let listItem of shoppingList.itemsList'
      >
      <span>
        {{listItem.item.name}}
      </span>
      <span class="float-right">
        <i class='fas fa-plus-square' (click) = 'increaseItem(listItem.item)'></i>
         {{listItem.qToBuy}} 
        <i class='fas fa-minus-square' (click) = 'decreaseItem(listItem.item)'></i>
      </span>
    </div>
  </div>
</div>