mat-sidenav-container {
  min-height: 100%;
}
mat-sidenav {
  position: fixed;
  background-color: darkblue;
  color: white;
  min-width: 200px;
  padding: 10px;
}

mat-sidenav-content {
  min-height: 100%;
}

mat-divider {
  border-top-color: lightgrey;
}
mat-nav-list a {
  color: white;
}