<mat-sidenav-container>
  <mat-sidenav color='primary' #sideNav>
    <h4 class='mb-1'>Menu</h4>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLink='/slists' (click)='sideNav.close()'>Lists</a>
      <a mat-list-item routerLink='/items' (click)='sideNav.close()'>Items</a>
    </mat-nav-list>
    <h4 class='mb-1'>User</h4>
    <mat-divider style='color: whitesmoke'></mat-divider>
    <mat-nav-list *ngIf='!authService.currentUser'>
      <a mat-list-item routerLink='/login' (click)='sideNav.close()'>Sign In</a>
      <a mat-list-item routerLink='/signup' (click)='sideNav.close()'>Sign Up</a>
    </mat-nav-list>
    <mat-nav-list *ngIf='authService.currentUser'>
      <a mat-list-item routerLink='/user' (click)='sideNav.close()'>User Account</a>
      <a mat-list-item (click)='authService.logOut("/")' (click)='sideNav.close()'>Sign Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color='primary' fxLayout='row'>
      <button mat-icon-button *ngIf='!(showBackButton$ | async)' (click)='sideNav.toggle()' type="menu" class='mr-1'>
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button *ngIf='(showBackButton$ | async)' (click)='goBack()'>
        <mat-icon>arrow_back</mat-icon>
        <!-- <a mat-list-item class='title' (click)='goBack()'><h3><<</h3></a> -->
      </button>
      <mat-nav-list>
        <a mat-list-item class='title' routerLink='/'><h3>{{title}}</h3></a>
      </mat-nav-list>
      <mat-nav-list fxLayout='row' fxHide.lt-md='true'>
        <a mat-list-item routerLink='/slists'>Lists</a>
        <a mat-list-item routerLink='/items'>Items</a>
      </mat-nav-list>
      <span class='ml-auto'>
        <mat-nav-list fxLayout='row' *ngIf='!authService.currentUser'>
          <a mat-list-item routerLink='/login'>Sign In</a>
          <a mat-list-item routerLink='/signup' fxHide.lt-md='true'>Sign Up</a>
        </mat-nav-list>
        <mat-nav-list *ngIf='authService.currentUser'>
            <a mat-list-item (click)='authService.logOut("/")'>Sign Out</a>
          </mat-nav-list>
      </span>
    </mat-toolbar>
    <div class='container-fluid'>
      <router-outlet></router-outlet>
    </div>
    <app-message-toast *ngIf = 'messages && messages.length > 0' [messages] = 'messages'></app-message-toast>
  </mat-sidenav-content>
</mat-sidenav-container>

