<div mat-card class='p-4'>
  <div mat-card-title fxLayout='column'>
    <h3  fxLayoutAlign='center' class='mb-1'>
      Welcome to Shop List
    </h3>
    <h3 *ngIf='authService.currentUser'  fxLayoutAlign='center' class='mt-0'>
      {{authService.currentUser.displayName}}
    </h3>
  </div>
  <img class='rounded-circle img-thumbnail w-25 mx-auto d-block' 
    *ngIf='authService.currentUser && authService.currentUser.photoURL' 
    src={{authService.currentUser.photoURL}} alt='User profile picture'>
  <h4 mat-card-subtitle fxLayoutAlign='center'>The best Shopping List app on the web.</h4>
  <br>
  <div mat-card-actions fxLayoutAlign='space-around'>
    <div *ngIf='!authService.authenticated'>
      <button mat-raised-button color='primary' type='button' routerLink="/login">Sign In</button>
      <button mat-raised-button color='secondary' type='button' routerLink="/signup">Sign Up</button>
    </div>
    <div *ngIf='existingShoppingLists'>
      <button mat-raised-button color='primary' type='button' routerLink='/lists'>View Your Shopping Lists</button>
    </div>
  </div>
</div>
<mat-divider style='color: white' class='my-4'></mat-divider>
<div *ngIf='!existingShoppingLists' fxLayoutAlign='center' class='p-4'>
  <button mat-raised-button color='primary' type='button' routerLink='/list/add'>
    Create your first shopping list
  </button>
</div>